.diretoria .diretoria-grupo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.diretoria .diretoria-sections .diretoria-quadro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    margin: 10px;
    border-radius: 5px;
    padding: 20px;
}

.diretoria .diretoria-sections .section-titulo {
    font: Bold 12px/40px Barlow;
    color: #FF6A6A;
}

.diretoria .diretoria-sections .section-nome {
    font: normal 18px/22px Barlow;
    color: #026CB4;
}

.diretoria .diretoria-sections .section-cargo {
    font: normal 12px/16px Roboto;
    color: #767676;
}

.diretoria .diretoria-grupoButton {
    margin-bottom: 40px;
    margin-top: 40px;
}

.diretoria .diretoria-grupoButton ul {
    display: inline-flex;
}

@media (max-width: 500px) {
    .diretoria .diretoria-grupo {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .diretoria .diretoria-grupoButton ul {
        display: block;
    }
}

@media (min-width: 500px) and (max-width: 650px) {
    .diretoria .diretoria-grupo {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .diretoria .diretoria-grupoButton ul {
        display: block;
    }
}

@media (min-width: 650px) and (max-width: 950px) {
    .diretoria .diretoria-grupo {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    .diretoria .diretoria-grupoButton ul {
        display: block;
    }
}