.footer svg {
    width: 100px;
    height: 64px;
}
.footer svg > circle {
    width: 100%;
    height: 100%;
}
.footer svg > circle:nth-child(1) {
    stroke: #E8E8E8;
    stroke-width: 1;
    fill: #ffffff;
}
.footer svg > circle:nth-child(2) {
    stroke: #ffffff;
    stroke-width: 1;
    fill: #E8E8E8;
}