.footer img {
    width: 75px;
}

.footer a {
    color: #026CB4;
}

.footer .logos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.footer .footer-dados {
    display: grid;
    grid-template-columns: 5fr 1fr;
    justify-content: center;
    margin-top: 40px;
}

.footer .redes-sociais img{
    width: 17px;
    float: right;
    padding-right: 10px;
}

.footer .redes-sociais img:hover{
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.footer .logos h4 {
    font: 900 24px/29px Roboto;
    color: #575757;
}


@media (max-width: 700px) {
    .footer .logos  {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
}