.topo {
    height: 340px;
    background: transparent url('../../img/Grupo\ de\ máscara\ 2.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.topo section {
    background-color: #026CB4;
    display: grid;
    grid-column: 1 / 6;
    max-height: 90%;
}

.topo section p {
    font: Bold 34px/37px Barlow;
    color: #FFFFFF;
    padding: 20px;
}

.topo section > p::before {
    content: "";
    width: 50px;
    border: 2px solid #FF6A6A;
    display: block;
    margin-bottom: 10px;
}

.topo section li {
    font: normal 14px/29px Barlow;
    letter-spacing: 0.28px;
    color: #FFFFFF;
    padding: 10px 20px 10px;
}

.topo section li::before {
    content: ">"; 
    color: #00A7FF;
    font-weight: bold;
}

@media (max-width: 700px) {
    .topo section  {
        grid-column: 1 / 12;
    }
}